@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root{
    --bg-color: #202020;
    --main-bg-color: #ffffff;
    --main-text-color: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: .5px;
}

body{
    background-color: var(--main-bg-color);
}
a{
    text-decoration: none;
    color: var(--main-text-color);

}

.text__uppercase{
    text-transform: uppercase;
}
/* heroes set styles */
.heroes__set-promo{
    width: 100%;
    height: 560px;
    background: black;
    border: 3px solid white;
    position: relative;
    overflow: hidden;
}

.promo__content-black{
    /* flex: 1; */
    width: 50%;
    height: 100%;
    text-align: left;
    position: relative;
    z-index: 2;
    background: black;
}
.promo__content-black::after{
    content: "";
    height: 0;
    right: -25%;
    top: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    display: block;
    border-left: 156px solid #000000;
    border-top: 560px solid transparent;
    
}
.promo__img-wrapper{
    position: absolute;
    width: 55%;
    height: 100%;
    right: 4%;
}

.promo__title-1{
    margin: 35px 0;
    font: 500 18px/19px RobotoCondensed Bold;
    position: relative;
}
.promo__title-1::before, .promo__title-1::after{
    background-color: #c6a972;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg) skewX(45deg);
    width: 30px;
}
.promo__title-1::before{
    top: -15px;
    left: 8%;
}
.promo__title-1::after{
    bottom: -15px;
    left: 0;
}
.promo__title-2{
    font-size: 40px;
    margin-bottom: 10px;
}

.promo__title-3{
    margin: 0 0 25px;
    font-size: 16px;
}
.promo__title-1, .promo__title-2, .promo__title-3{
    width: 100%;
}
.promo__btn{
    display: inline-block;
    margin: 0 15px 15px 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    letter-spacing: 0;
    width: auto;
    z-index: 10;
    padding: 0 35px;
}
.promo__btn::before{
    margin-left: 16px;

}

.promo__btn::after{

}
.promo__btn::after, .promo__btn::before{
}
.card__link{
    color: #000000;
}
/* slider styles */
.slider__wrapper{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1179px;
    overflow: hidden;
    z-index: 10;
    background: #ffffff;
}

.slider__main-container{
    padding: 10px 20px 20px;
    overflow: auto;
}
.heroes__set-slider{
    position: relative;
    margin-top: -60px;
    z-index: 6;
}
.slider__main-container{
    display: flex;
    height: 422.94px;
    
}
.slider__card{
    margin: 0 20px 20px;
    width: 15.2034%;;
    min-width:173.16px;
    min-height: 311.54px;
}

.card__body{
    padding-top: 18px;
}
.card__image-container{
    box-shadow: 0 7px 17px -8px rgba(0,0,0,.8);
}
.card__image{
    display: block;
    margin: 0;
    object-fit: cover;
    object-position: center center;
    padding: 0;
    width: 100%;
    height: 100%;
}
.card__title{
    color: #151515;
    margin: 0;
    padding: 0 0 5px;
    
    font: 400 14px/1.2 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.card__footer h4{
    font: 400 12px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    color: #767676;
}
/* promo1 styles */
.promo__btn-wrapper{
    display: flex;
}
.page__promo-section{
    background-color: #000000;
}

.promo__wrapper{
    max-width: 1240px;
    margin: auto;
    display: flex;
    align-items: center;
    /* position: relative; */
    height: 100%;
}

.promo__content{
    position: relative;
    flex: 1;
    padding: 50px;
}

.promo__content-main{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 30px 30px;
    position: relative;
}
.promo__title, .promo__subtitle, .promo__description{
    font: 400 16px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.promo__title{
    text-transform: uppercase;
    margin: 20px 0;
    color: #e62429;
    letter-spacing: 3px;
    font-size: 16px;
    font: 400 16px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}


.promo__subtitle{
    font-weight: 800;
    margin: 0 0 10px;
    font-size: 26px;
}

.promo__description{
    letter-spacing: .5px;
    margin: 0 0 20px;
    max-width: 500px;
}

.promo__terms{
    position: absolute;
    bottom: -45px;
    text-align: center;
    font: normal 11px/1.2 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.btn{
    padding: 0 35px;
    background-color: #e62429;
    text-transform: uppercase;
    font: 800 14px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;;
}

/* .promo__content-btn{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */
/* footer styles */
.footer{
    padding: 80px 0 30px 0;
    width: 100%;
    background-color: var(--bg-color);
}
.footer__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__links{
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    margin-bottom: 40px;
}

.footer__logo{
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    margin-right: 60px;
}
.footer__logo-svg{
    width: 80px;
}

.footer__primary-links, .footer__secondary-links{
    flex: 1;
}

.footer__primary-links, .footer__secondary-links{
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-weight: 800;
    margin-right: 60px;
}

.footer__link{
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 12px;
    list-style: none;
}


.footer__promotion{
    margin-bottom: 40px;
}

.footer__promo-links{
    display: flex;
    flex-direction: column;
    margin: 0 40px 40px 40px;
}

.footer__promotion:first-of-type{
    padding-bottom: 30px;
}
.footer__promotion-link{
    display: flex;
}

.footer__promotion-image-wrapper{
    width: 60px;
}

.footer__promotion-image{
    width: 100%;
}

.footer__promotion-content{
    padding-left: 30px;
    width: 90%;
    font-size: 14px;
}

.footer__promotion-title{
    font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    color: #fff;
}

.footer__promotion-content{
    color: #767676;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;

    margin: 0;
}



h4{
    font: 400 20px/1.3 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.footer__media-title{
    font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}



.footer__social-media-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    
}

.footer__social-media-link{
    flex: 0 0 25%;
}

.footer__social-media-svg{
    fill: #767676;;
}

.footer__legal{
    display: flex;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    max-width: 1240px;
    margin: auto;
    gap: 20px;
}

.footer__legal-link{
    color: #767676;
}